.accordeon{
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    width: 90%;
    max-width: 350rem;
}
.accordeon__item{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 100%;
    overflow: hidden;
    transition: .5s ease all;
}
.accordeon__answere{
    height: 0;
    width: 80%;
    text-align: right;
    align-self: flex-end;
    margin-right: 10%;
    transition: .5s ease all;
    transform: translateY(-100%);
    position: relative;
    z-index: 1;
}

.accordeon__question{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-subtitle);
    font-size: clamp(11rem,5vw,15rem);
    color: var(--orange-1);
    background: var(--white);
    border-radius: 10rem;
    padding: 5rem 10rem;
    letter-spacing: 1rem;
    z-index: 2;
}
.accordeon__icon{
    width: clamp(10rem,5vw,15rem);
    transition: .5s ease all;
}
.accordeon__item--active .accordeon__answere{
    height: auto;
    transform: translateY(0);
}
.accordeon__item--active .accordeon__icon{
    transform:rotate(90deg)
}