.header{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 90%;
    gap: 10rem;
    z-index: 2;
}



/*modificadores*/
.header--left{
    text-align: left;
    align-items: self-start;
}
.header--right{
    text-align: right;
}
.header--benefics{
    width: 50%;
    align-self: flex-start;
    margin: 10% 0 0 5%;
}
.header--design{
    width: 50%;
    align-self: flex-end;
    margin-right: 5%;
    z-index: 3;
}
